  <nav class="p-2 px-8 flex gap-1 justify-between border-b border-gray-200">
    <div class="max-[639px]:w-full overflow-x-auto lg:flex lg:w-full gap-0 sm:w-full md:w-full flex-1 mt-2 no-scrollbar md:flex flex-row"  id="navbar">
      <div class="max-[639px]:flex md:flex sm:flex md:w-full space-x-4 mt-2 lg:flex">
        <div *ngFor="let item of listItem"
             class="cursor-pointer flex-shrink-0 min-w-[10%] flex relative flex-col opacity-50 hover:opacity-100 font-bold hover:scale-110 transition-transform duration-700 ease-in-out sm:flex items-center">
          <div class="items-center flex justify-center ">
            <img [src]="item.img" width="24" height="24"/>
          </div>
          <span class="text-sm max-[639px]:hidden sm:hidden lg:block">{{item.title}}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center gap-4  max-[639px]:hidden sm:hidden lg:flex">
      <div class="rounded-xl py-4 flex items-center gap-1 bg-white border border-gray-300 p-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
          style="display:block;fill:none;height:16px;width:16px;stroke:currentColor;stroke-width:3;overflow:visible"
          aria-hidden="true" role="presentation" focusable="false">
          <path fill="none"
            d="M7 16H3m26 0H15M29 6h-4m-8 0H3m26 20h-4M7 16a4 4 0 1 0 8 0 4 4 0 0 0-8 0zM17 6a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 20a4 4 0 1 0 8 0 4 4 0 0 0-8 0zm0 0H3">
          </path>
        </svg>
        <button class="font-medium">Filters</button>
      </div>
      <div class="toggle-container py-4 rounded-xl flex items-center bg-white border border-gray-300 p-2">
        <span class="toggle-text mr-2 font-medium">Display total</span>
        <input type="checkbox" id="toggle" class="hidden-checkbox">
        <label for="toggle" class="toggle-label"></label>
      </div>
    </div>
  </nav>